<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="./tests/UpcastTests/Bootstrap.php">

    <testsuites>
        <testsuite name="Upcast Test Suite">
            <directory>./tests/UpcastTests</directory>
        </testsuite>
    </testsuites>

</phpunit>